@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<h2>Combos</h2>
@foreach (var combo in @Model.Menu.AvailableCombos)
{
	<div class="menu-item">
		<p>
			Name: @combo.Description
			<br />
			Price: $@combo.Price
			<br />
			Calories: @combo.Calories
			<br />
			Ingredients: @foreach (var ingredient in combo.Ingredients)
			{
				@(ingredient + ", ")
			}
		</p>
	</div>
}

<h2>Entrees</h2>
@foreach (var entree in @Model.Menu.AvailableEntrees)
{
	<div class="menu-item">
		<p>
			Name: @entree.Description
			<br />
			Price: $@entree.Price
			<br />
			Calories: @entree.Calories
			<br />
			Ingredients: @foreach (var ingredient in entree.Ingredients)
			{
				@(ingredient + ", ")
			}
		</p>
	</div>
}

<h2>Sides</h2>

@foreach (var side in @Model.Menu.AvailableSides)
{
	<div class="menu-item">
		<p>
			Name: @side.Description
			<br />
			Price: $@side.Price
			<br />
			Calories: @side.Calories
			<br />
			Ingredients: @foreach (var ingredient in side.Ingredients)
			{
				@(ingredient + ", ")
			}
		</p>
	</div>
}

<h2>Drinks</h2>

@foreach (var drink in @Model.Menu.AvailableDrinks)
{
	<div class="menu-item">
		<p>
			Name: @drink.Description
			<br />
			Price: $@drink.Price
			<br />
			Calories: @drink.Calories
			<br />
			Ingredients: @foreach (var ingredient in drink.Ingredients)
			{
				@(ingredient + ", ")
			}
		</p>
	</div>
}
